html {
  body {
    background-color: #4a407d;
    color: white;
  }

  button {
    background: #4596ca;
    border: 0;
    border-radius: 16px;
    font-family: calibri, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    min-width: 32px;
    padding: 8px;
    margin-right: 4px;
  }

  button:focus {
    outline: 0;
    background: #4596ca;
    border: 0;
  }

  button:active {
    background: #4596ca;
    border: 0;
  }

  button:hover {
    background: white;
    color: #4596ca;
  }

  #main {
    height: 800px;
  }
}
