{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "sort-imports-es6-autofix",
    "node",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-magic-numbers": [0],
    "no-console": [2, { "allow": ["warn", "error"] }],
    "curly": [2, "multi-line"],
    "no-debugger": 2,
    "no-empty": 2,
    "no-eval": 2,
    "no-unsafe-finally": 2,
    "use-isnan": 2,
    "linebreak-style": [2, "unix"],
    "prefer-const": [2, { "destructuring": "all" }],
    "object-literal-sort-keys": 0,
    "new-parens": 2,
    "no-irregular-whitespace": 2,
    "object-literal-key-quotes": [0, "consistent-as-needed"],
    "prefer-template": 2,
    "no-async-promise-executor": 0,
    "no-useless-escape": 0,
    "require-yield": 0,
    "require-await": 0,
    "require-jsdoc": 0,

    "sort-imports-es6-autofix/sort-imports-es6": [
      1,
      {
        "ignoreCase": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["all", "single", "multiple", "none"]
      }
    ],

    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-misused-new": 2,
    "@typescript-eslint/array-type": [
      2,
      { "default": "array", "readonly": "array" }
    ],
    "@typescript-eslint/ban-types": [
      2,
      {
        "types": {
          "Number": "Use number instead",
          "Object": "Use object instead",
          "String": "Use string instead",

          "Function": false
        },
        "extendDefaults": true
      }
    ],
    "prettier/prettier": [
      2,
      {
        "trailingComma": "es5"
      },
      {
        "usePrettierrc": false
      }
    ]
  },

  "overrides": [
    {
      "files": ["bin/lib/template/**/*", "native/**/*"],
      "rules": {
        "node/file-extension-in-import": ["off"]
      }
    }
  ],
  "ignorePatterns": ["bin/lib/template/*"]
}
