# -----[ Application ]---------------------------------------------
node_modules
# The actual build files
build
.cache

# -----[ Metadata ]------------------------------------------------
# macOS
.DS_Store
# JetBrains (IDE)
.idea
# VS Code (IDE)
.vscode
npm*log-*
*.log

# -----[ Distribution ] -------------------------------------------
# scripts
scripts
# Remove any development Code
src
docs
loaders
# Ensure distribution sources are included
!dist/src
!dist/docs
# Remove any tests
test
unit-test
# Clear out any uneeded config files of any sort
tsconfig.json
tslint.json
webpack.config.js
wercker.yml
yarn.lock
dts-bundle.tmp.voidgl.d.ts
.editorconfig
.eslintrc.js
.nvmrc
package-lock.json
Procfile
prettier-loader.js
app.json
.prettierignore
.eslintignore
.aws-local.js
